<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ruta-anterior"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Horarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de días horizontal -->
  <ion-list>
    <ion-list style="display: flex; justify-content: center; width: 100%;">
      <ion-item *ngFor="let dia of diasSemana" (click)="mostrarAsignaturas(dia)">
        {{ dia }}
      </ion-item>
    </ion-list>
  </ion-list>

  <!-- Lista de asignaturas -->
  <ion-list *ngIf="asignaturasPorDia.length > 0">
    <ion-list-header>
      {{ diaSeleccionado }}
    </ion-list-header>
    <ion-item *ngFor="let asignatura of asignaturasPorDia">
      <ion-label>
        {{ asignatura.horaInicio }} a {{ asignatura.horaTermino }} <br>
        {{ asignatura.nombre }} <br>
        {{ asignatura.seccion }} <br>
        Profesor: {{ asignatura.profesor }} <br>
        Sala: {{ asignatura.sala }} <br>
        Sede {{ asignatura.sede }}
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- Mensaje cuando no hay asignaturas -->
  <div *ngIf="asignaturasPorDia.length === 0">
    <p>No hay asignaturas disponibles para {{ diaSeleccionado }}.</p>
  </div>
</ion-content>
