<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Recuperar Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">

      <ion-img src="assets/logo-fondoazul.jpg" alt="Imagen de encabezado"></ion-img>

      <p class="ion-text-center">Te enviaremos un email para que puedas restablecer tu contraseña.</p>

      <app-custom-input autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email"
        label="correo"></app-custom-input>

      <div class="validators" *ngIf="form.controls.email.errors  && form.controls.email.touched ">

        <div *ngIf="form.controls.email.errors?.['required']"> El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']"> Ingrese un correo valido</div>
      </div>
      <ion-button expand="block" fill="clear" mode="ios" class="submit" [disabled]="form.invalid"
        type="submit">Ingresar</ion-button>


    </form>
  </div>
</ion-content>