<style>
  /* Añade estilos personalizados si es necesario */
  .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Establece la altura mínima de la vista de la ventana al 100% del viewport height */
  }

  /* Estilo adicional para ocultar la imagen */
  .hidden {
    display: none;
  }
</style>

<div class="container-fluid center-screen" id="imageContainer">
  <ion-img src="../../assets/escanearqr.JPG" style="width: 100%; height: 100%"></ion-img>
</div>